<% layout('layout') %>

<ul>
  <li><a href="/s3/get">S3 Get</a></li>
  <li><a href="/s3/url">S3 URL with Signature</a></li>
  <li><a href="/cloudfront/url">CloudFront URL with Signature</a></li>
</ul>

