<% layout('layout') %>

<div class="row">
  <div class="col-md-6">
    <h2>File Upload</h2>
    <div class="list-group">
      <a class="list-group-item" href="/file_upload/to_s3">To s3</a>
    </div>

    <h2>S3</h2>
    <div class="list-group">
      <a class="list-group-item" href="/s3/get">S3 Get</a>
      <a class="list-group-item" href="/s3/url">Pre-signed URL with aws-signature-v4</a>
      <a class="list-group-item" href="/s3/url_sdk">Pre-signed URL with getSignedUrl</a>
      <a class="list-group-item" href="/s3/head">S3 Head</a>
      <a class="list-group-item" href="/s3/list_objects">S3 ListObjects</a>
      <a class="list-group-item" href="/s3/head_empty">S3 Head in empty case</a>
      <a class="list-group-item" href="/s3/storage_class">S3 StorageClass</a>
    </div>
  </div>

  <div class="col-md-6">
    <h2>DynamoDB</h2>
    <div class="list-group">
      <a class="list-group-item" href="/dynamodb/dynamoose_example">dynamoose Example</a>
      <a class="list-group-item" href="/dynamodb/auth/login">Auth Login</a>
      <a class="list-group-item" href="/dynamodb/auth/logout">Auth Logout</a>
      <a class="list-group-item" href="/dynamodb/auth2/signup">Auth2 Sign up</a>
      <a class="list-group-item" href="/dynamodb/sdk/create_table">SDK, Create table</a>
      <a class="list-group-item" href="/dynamodb/sdk/delete_table">SDK, Delete table</a>
    </div>

    <h2>CloudFront</h2>
    <div class="list-group">
      <a class="list-group-item" href="/cloudfront/url">Pre-signed URL with aws-cloudfront-sign</a>
      <a class="list-group-item" href="/cloudfront/url_signer">Pre-signed URL with Signer</a>
      <a class="list-group-item" href="/cloudfront/url_signer_policy">Pre-signed URL, Custom Policy</a>
      <a class="list-group-item" href="/cloudfront/url_signer_cookie">Pre-signed URL, Cookie</a>
    </div>

    <h2>SQS</h2>
    <div class="list-group">
      <a class="list-group-item" href="/sqs/enqueue">SQS Engqueu</a>
    </div>
  </div>
</div>

