<% layout('layout') %>

<div class="row">
  <div class="col-md-6">
    <h2>S3</h2>
    <div class="list-group">
      <a class="list-group-item" href="/s3/get">S3 Get</a>
      <a class="list-group-item" href="/s3/url">S3 URL with Signature</a>
      <a class="list-group-item" href="/s3/head">S3 Head</a>
      <a class="list-group-item" href="/s3/list_objects">S3 ListObjects</a>
      <a class="list-group-item" href="/s3/head_empty">S3 Head in empty case</a>
    </div>
  </div>

  <div class="col-md-6">
    <h2>CloudFront</h2>
    <div class="list-group">
      <a class="list-group-item" href="/cloudfront/url">CloudFront URL with Signature</a>
    </div>

    <h2>SQS</h2>
    <div class="list-group">
      <a class="list-group-item" href="/sqs/enqueue">SQS Engqueu</a>
    </div>
  </div>
</div>

