<% layout('layout') %>

<div class="row">
  <div class="col-sm-12">
    <form method="post" action="/s3/storage_class">
      <div class="form-group">
        <label>Key:</label>
        <select name="key">
          <option value="archive/white.png">archive/white.png</option>
          <option value="archive/white2.png">archive/white2.png</option>
          <option value="archive/white3.png">archive/white3.png</option>
        </select>
      </div>

      <div class="form-group">
        <label>StorageClass:</label>
        <select name="storage_class">
          <option value="STANDARD">STANDARD</option>
          <option value="REDUCED_REDUNDANCY">REDUCED_REDUNDANCY</option>
          <option value="STANDARD_IA">STANDARD_IA</option>
        </select>
      </div>

      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-12">
    <% if (data) { %>
    <pre class="bg-info"><code><%= beautify(JSON.stringify(data), { indent_size: 2 }) %></code></pre>
    <% } %>
  </div>
</div>

