<% layout('layout') %>

<h1><%= title %></h1>

<div class="row">
  <div class="col-sm-12">
    <form method="get" action="/dynamodb/auth/login">
      <button type="submit" class="btn btn-info">Logout</button>
    </form>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-12">
    <pre class="bg-info"><code></code></pre>
  </div>
</div>

